extends base

block prepend head
    title Scrum Hub, application for agile project on GitHub
    meta(name="description", content="ScrHub is a scrum based application to manage your GitHub project with an agile method.")

block append content
    h1 Welcome to Scrum Hub

    .social-btns
        .fb-like(data-send="false", data-layout="button_count", data-width="450", data-show-faces="false")
        a(href="https://twitter.com/j_sanp", class="twitter-follow-button", data-show-count="false", data-show-screen-name="false") Follow @j_sanp
        a(href="https://twitter.com/share", class="twitter-share-button") Tweet
        a(href="https://github.com/j-san/JTmpl")
            img(style="position: absolute; top: 0; right: 0; border: 0;",
                src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png",
                alt="Fork me on GitHub")

    p.lead: strong ScrHub is a scrum based application to manage your GitHub project with an agile method.

    p.center: a.btn.btn-large.btn-primary(href="/projects/") Connect with GitHub

    ul
        li your code is on&nbsp;
            strong GitHub
        li your documentation is on&nbsp;
            strong GitHub
        li your issue tracking is on&nbsp;
            strong GitHub
        li: strong why don't you manage your agile project release on GitHub ?


    p Manage product backlog, plan sprints and resolve stories.
    p Your data is stored on GitHub database using GitHub API,
        | use all awesome features from GitHub:
    ul
        li links commits to stories
        li get notifications
        li refs to users, projects, issues, ...
        li be social

    p Comming soon: connect you project with Continuous Integration
        | tools such as TravisCI and do Continuous Deployment.

block append scripts

    #fb-root
    script.
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=434520186583515";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
