extends base

block prepend head
    title Select a project

block append content
    h1 Select a project
    each p, i in projects
        a.project-nav(href="/app/#{p.full_name}/")
            h2= p.full_name
            p= p.description
