script
    var params = {
        project: "#{project.full_name}",
        me: !{JSON.stringify(user)}
    };
script(src="http://code.jquery.com/jquery-1.7.2.min.js")
script(src="/bootstrap/js/bootstrap.js")

script(src="http://underscorejs.org/underscore.js")
script(src="http://backbonejs.org/backbone.js")
script(src="/js/model/Label.js")
script(src="/js/model/Story.js")
script(src="/js/model/Sprint.js")
