doctype 5
html
    head
        title Scrum Hub Dashboard
        include head
    body
        include navigation
        h1 #{project.name}
        ul.nav.nav-tabs
            li.active: a(href="#backlog-stories", data-toggle="tab") Stories
            li: a(href="#backlog-sprints", data-toggle="tab") Sprints
        .tab-content
            #backlog-stories.tab-pane.active
                .config
                    p: button#add-story add story
                    p fill a title to save new row on github
                    p click on a story to edit
                ul#stories-container
            #backlog-sprints.tab-pane
                ul#sprints-container

        include script
        script(src="/js/backlog.js")
        include ga
