doctype 5
html
    head
        title #{project.name} > Dashboard > Scrum Hub
        include head
    body
        include navigation
        h1 Dashboard #{project.name}
        img(src="https://secure.travis-ci.org/#{project.full_name}.png")
        #dashboard.row-fluid.loading
            #todo.span4.column
                h2 Todo
            #progress.span4.column
                h2 Progress
            #testing.span4.column
                h2 Testing

        include script
        script(src="/js/dashboard.js")
        include ga
