doctype 5
html
    head
        title Scrum Hub Dashboard
        include head
    body
        include navigation
        h1 #{project.name}
        #dashboard.row-fluid
                #todo.span4.column
                    h2 Todo
                #progress.span4.column
                    h2 Progress
                #testing.span4.column
                    h2 Testing

        include script
        script(src="/js/dashboard.js")
        include ga
