doctype 5
html
    head
        title Welcome to Scrum Hub
        include head
    body
        #content
            h1 Welcome to Scrum Hub
            ul
             li your code is on 
                strong GitHub
             li your documentation is on 
                strong GitHub
             li your issue tracking is on 
                strong GitHub
             li: strong why don't you manage your Scrum Planning on GitHub ?

            p.center: a.btn.btn-primary(href="/projects/") select a project

            p Manage product backlog, plan sprints and resolve stories.
            p Your data hold on GitHub database,
                | keep all awesome features from GitHub.
            ul
                li links commits to stories
                li get notifications
                li refs to users, projects, issues, ...
                li be social
        include ga
