doctype 5
html
    head
        include head
    body
        #content
            h1 Select a project
            each p, i in projects
                h2: a(href="/#{p.full_name}/dashboard/")= p.full_name
                p= p.description
        include ga
