
body {
    background-color: #DDD;
    background-image: url(../img/graphy.png);
    background-repeat: repeat repeat;
    background-position: center top;
    font-size: 18px;
}

.loading {
    opacity: .5;
}

.error {
    color: red !important;
    border: red 1px solid !important;
}

h1 {
    line-height: 1.2em;
    font-size: 2.4em;
    margin: .5em 0 .5em 4.5em;
    font-family: 'Marck Script', cursive;
}
.center {
    text-align:center
}

li {
    line-height: 1.2em;
    font-size: 1.2em;
}

p {
    margin: .8em 0;
    line-height: 1.2em;
    font-size: 1.2em;
}

.btn {
    line-height: 1.2em;
    font-size: 1.2em;
    font-family: 'Marck Script', cursive;
}

#content {
    position: relative;
    width: 800px;
    padding: 40px 20px;
    margin: 20px auto;

    box-sizing: border-box;
    border-radius: 15px;

    background-color: white;
    box-shadow: 6px 10px 7px rgba(0, 0, 0, .3);
    min-height: 700px;
    /*background-image: url(../img/handmadepaper.png);*/
    background-image: url(../img/scrhub-bg.png);
    background-repeat: no-repeat;
    background-position: center 140px;
}
#content:after {
    content: " ";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 25px;
    left: 20px;
    background-image: url(../img/scrhub.png);
    background-repeat: no-repeat;
}
#content h1 {
    text-align: center;
    margin: .8em 0;
}

/* feedback */
#content textarea {
    width: 100%;
    min-height: 60px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .4);
}


/* navigation */
nav {
    min-height: 100px;
    margin: 0 10px;
}

.navigation {
    display: inline-block;
    min-width: 240px;

    margin: 0 5px 5px 5px;
    padding: .5em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid black;
    border-top: none;

    background: white;
    text-align: center;
    vertical-align: top;
}

.feedback {
    position: fixed;
    left: 0;
    top: 70px;

    padding: 10px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border: 1px solid #888;
    border-left: none;
    background: white;
    z-index: 1;
}

nav:after {
    content: " ";
    position: absolute;
    width: 100px;
    height: 100px;
    top: 70px;
    left: 90px;
    background-image: url(../img/scrhub.png);
    background-repeat: no-repeat;
}

.navigation.active {
    font-size: 2.5em;
}

.social-btns {
    text-align: right;
    vertical-align: bottom;
}
.social-btns > * {
    margin-left: 5px;
}
.fb-like {
    top: -4px;
}

/* Dashboard */

#dashboard, .tab-content {
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
    padding: 30px;
    box-sizing: border-box;

    margin: 0 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 6px 10px 7px rgba(0, 0, 0, .3);
}


#dashboard .column {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    box-sizing: border-box;
    min-height: 600px;
    background: white;
}
#dashboard .column:not(:last-child) {
    border-right: 1px solid black;
}

#closed {
    display: none;
}

.dashboard-ticket {
    display: inline-block;
    border: 1px solid black;
    width: 180px;
    height: 150px;
    margin: 10px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    vertical-align: top;
}

.dashboard-ticket pre {
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

.dashboard-ticket h3 {
}

.dashboard-ticket img {
    float: left;
    position: relative;
    top: -8px;
    left: -8px;
}

#take-in-charge, #give-up, #test, #resume, #close {
    display: none;
    float: right;
}

#give-up, #resume {
    float: left;
}

#todo #take-in-charge,
#progress #give-up,
#progress #test,
#testing #resume,
#testing #close {
    display: inline-block;
}

.story-body {
    clear: both;
    padding-top: 8px;
}


/* Backlog */

#sprints-container, #stories-container {
    margin: 0;
    list-style: none;
}

.backlog-line {
    position: relative;
    padding: 5px 9px;
    border: 1px solid #CCC;
    background: white;
    height: 24px;
    transition: height .5s linear;
    -webkit-transition: height .5s linear;
}

.backlog-line:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.backlog-line:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.backlog-line.edit-form {
    height: 150px;
}

/*
.assignment .backlog-line:hover {
    border: 1px solid black;
}
.assignment .backlog-line.hightlight {
    background: #08C;
    border: 1px solid black;
}
*/

.story-id {
    display: inline-block;
    min-width: 30px;
    padding: 3px 0;
}

.backlog-line .story-title {
    display: block;
    position: absolute;
    top: 3px;
    left: 40px;
    right: 200px;
    width: auto;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}

.backlog-line:not(.edit-form) .story-title {
    -webkit-box-shadow: none;
}

.backlog-line.edit-form .story-title {
    background: white;
    border: 1px solid #CCC;
}

.backlog-line .story-body {
    position: absolute;
    top: 36px;
    left: 5px;
    right: 200px;
    bottom: 5px;
    width: auto;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
    opacity: 0;
}
.backlog-line.edit-form .story-body {
    opacity: 1;
}


.backlog-line .story-difficulty,
.backlog-line .story-business-value {
    position: absolute;
    top: 3px;
    right: 100px;
    width: 40px;
}

.backlog-line .story-business-value {
    right: 150px;
}

.backlog-line.edit-form .story-difficulty,
.backlog-line.edit-form .story-business-value {
    display: none;
}

.backlog-line .input-difficulty,
.backlog-line .input-business-value {
    display: none;
    position: absolute;
    top: 3px;
    right: 100px;
    width: 80px;
}
.backlog-line .input-difficulty {
    top: 36px;
    width: 90px;
}

.backlog-line.edit-form .input-difficulty,
.backlog-line.edit-form .input-business-value {
    display: block;
}

.backlog-line .input-difficulty input {
    margin: 2px;
}


.backlog-line .input-difficulty label {
    display: inline-block;
    height: 19px;
    margin: 0;
    width: 35px;
    vertical-align: top;
    border: 1px solid #CCC;
    border-radius: 3px;
    margin: 3px;
    padding: 1px;
}

.backlog-line .story-sprint {
    position: absolute;
    display: block;
    top: 5px;
    right: 10px;
    width: 80px;
    height: 21px;
    line-height: 1em;
    color: #CCC;
}

.backlog-line .story-sprint.active {
    color: black;
}

.backlog-line .select-sprint {
    position: absolute;
    top: 36px;
    right: 10px;
    width: 80px;
    line-height: 1em;
}

.options {
    margin: 0;
}

#sprints-container {
    display: inline-block;
    width: 250px;
    list-style: none;
}
#sprints-container li {
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 2px 6px;
    cursor: pointer;
}
#sprints-container li:hover {
    border: 1px solid black;
}
#sprints-container li.selected {
    background: #08C;
    border: 1px solid black;
}

.nav-tabs {
    margin: 20px 50px 0;
    border: none;
}
.nav-tabs > li {
    margin: 0 5px;
    line-height: 1.8em;
    min-width: 110px;
    text-align: center;
}

.nav-tabs .active {
    font-size: 1.8em;
}

.nav-tabs > li > a {
    background: white;
}
.nav-tabs > li > a,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:hover {
    border: 1px solid black;
    border-bottom: 1px solid #CCC;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    border-bottom: 1px solid white;
}
