


header {
    min-height: 100px;
    margin: 0 10px;
}

.loading {
    opacity: .5;
}

#spaces {
    margin: 0;
    list-style: none;
}
#spaces li {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 5px 5px;
}
#spaces a {
    display: inline-block;
    min-width: 240px;
    text-align: center;

    padding: .5em;
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid black;
    border-top: none;
}


#spaces .current {
    font-size: 2.5em;
}


#dashboard {
    position:absolute;
    top: 100px;
    left: 30px;
    right: 30px;
    height: 600px;
    width: auto;
}


#dashboard .column {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    border: 1px solid black;
}


#closed {
    display: none;
}

.dashboard-ticket {
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 150px;
    margin: 10px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
}

.dashboard-ticket pre {
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

.dashboard-ticket h3 {
}

.dashboard-ticket img {
    float: left;
    padding: 5px;
}

#backlog-content {
    margin: 0 10px 10px 25px;
    list-style: none;
}

.backlog-line {
    position: relative;
    padding: 5px 9px;
    border: 1px solid #CCC;
}
.backlog-line:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.backlog-line:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}


.sprint-assign .backlog-line:hover {
    border: 1px solid black;
}

.story-id {
    display: inline-block;
    min-width: 30px;
}

.backlog-line .story-title {
    position: absolute;
    display: block;
    top: 0;
    left: 40px;
    right: 10px;
    width: auto;
    border: 1px solid transparent;
    background: transparent;
}

.backlog-line .story-title:focus {
    background: white;
    border: 1px solid #CCC;
}

.assignment .backlog-line.hightlight {
    background: #08C;
    border: 1px solid black;
}

#backlog-config {
    height: 95px;
}

#config-menu {
    font-size: 1.3em;
    display: inline-block;
    width: 220px;
    margin: 0;
    padding: 5px 0 5px 5px;
    box-sizing: border-box;
    list-style: none;
}

#config-menu li {
    display: inline-block;
    cursor:pointer;
    width: 100%;
    box-sizing: border-box;
    padding: .3em 1em;
    margin: 2px 0;
    text-align: right;
    border: 1px solid black;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#config-menu li.current {
    font-size: 1.2em;
    position: relative;
    left: 1px;
    background: white;
    z-index: 1;
}

.config-pane {
    display: none;
    position: absolute;
    left: 220px;
    top: 100px;
    right: 10px;
    height: 80px;
    padding: 10px;
    border-top: 1px solid black; 
    border-left: 1px solid black; 
    box-sizing: border-box;
}
.config-pane.current {
    display: block;
}

#sprints {
    display: inline-block;
    width: 250px;
    list-style: none;
}
#sprints li {
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 2px 6px;
    cursor: pointer;
}
#sprints li:hover {
    border: 1px solid black;
}
#sprints li.selected {
    background: #08C;
    border: 1px solid black;
}


