
#closed{
    display: none;
}

.story-state {
    border: 1px solid black;
    display: inline-block;
    min-height: 800px;
    width: 33%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 20px;
}

.dashboard-ticket {
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 150px;
    margin: 10px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
}

.dashboard-ticket pre {
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

.dashboard-ticket h3 {
}

.dashboard-ticket img {
    float: left;
    padding: 5px;
}

.backlog-line {
}

.backlog-line.hightlight {
    background: #CCC;
}
